@{
    ViewData["Title"] = "Home Page";
}
<main>
        <section id="Intro">
            <div class="container">
                <div class="row ">
                    <div class="col-7">
                        <div class="intro-content">
                            <div class="intro-text">
                                <h1>FIND YOUR RENT A CAR</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                        </div>

                    </div>
                    <div class="col-5">
                        <div class="intro-search">
                            <div class="intro-search-card">
                                <form>
                                    <div class="text-center h3 mt-3">Search Car</div>
                                    <div class="form-group mt-3">
                                        <input class="form-control" id="exampleInputEmail1">
                                    </div>
                                    <div class="form-group mt-3">
                                        <input class="form-control" id="exampleInputEmail1">
                                    </div>
                                    <div class="form-group mt-3">
                                        <input class="form-control" id="exampleInputEmail1">
                                    </div>
                                    <div class="form-group mt-3">
                                        <input class="form-control" id="exampleInputEmail1">
                                    </div>
                                    <button type="submit" class="btn btn-warning w-100 mt-2 mb-3">Search</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="OurOffers">
            <div class="container">
                <div class="section-header text-center mt-5">OUR BEST <span>OFFERS</span></div>
                <div class="offers-text text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras a arcu eu justo euismod rutrum. Quisque id enim ac tortor malesuada vestibulum non quis turpis. Ut eget ornare arcu. Suspendisse velit mi, pulvinar sed mauris eget, efficitur
                    tempor ex.</div>
                <div class="row mt-4">
                    <div class="col-4 d-flex flex-column justify-content-between">
                        <div class="offers-part">
                            <div class="row">
                                <div class="col-2">
                                    <div class="offers-part-icon">
                                        <i class="fa-solid fa-car"></i>
                                    </div>
                                </div>
                                <div class="col-10">
                                    <div class="offers-part-content">
                                        <div class="offers-part-content-header">Featured Luxury Cars</div>
                                        <div class="offers-part-content-text">Lorem ipsum dolor sit amet, onsectetuer adipiscing elitcommodo ligula eget dolor.</div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="offers-part">
                            <div class="row">
                                <div class="col-2">
                                    <div class="offers-part-icon">
                                        <i class="fa-solid fa-car"></i>
                                    </div>
                                </div>
                                <div class="col-10">
                                    <div class="offers-part-content">
                                        <div class="offers-part-content-header">Featured Luxury Cars</div>
                                        <div class="offers-part-content-text">Lorem ipsum dolor sit amet, onsectetuer adipiscing elitcommodo ligula eget dolor.</div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="offers-part">
                            <div class="row">
                                <div class="col-2">
                                    <div class="offers-part-icon">
                                        <i class="fa-solid fa-car"></i>
                                    </div>
                                </div>
                                <div class="col-10">
                                    <div class="offers-part-content">
                                        <div class="offers-part-content-header">Featured Luxury Cars</div>
                                        <div class="offers-part-content-text">Lorem ipsum dolor sit amet, onsectetuer adipiscing elitcommodo ligula eget dolor.</div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="offers-img">
                            <img src="~/assets/images/featureCarImg.png" alt="car">
                        </div>
                    </div>
                    <div class="col-4 d-flex flex-column justify-content-between">
                        <div class="offers-part">
                            <div class="row">
                                <div class="col-2">
                                    <div class="offers-part-icon">
                                        <i class="fa-solid fa-car"></i>
                                    </div>
                                </div>
                                <div class="col-10">
                                    <div class="offers-part-content">
                                        <div class="offers-part-content-header">Featured Luxury Cars</div>
                                        <div class="offers-part-content-text">Lorem ipsum dolor sit amet, onsectetuer adipiscing elitcommodo ligula eget dolor.</div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="offers-part">
                            <div class="row">
                                <div class="col-2">
                                    <div class="offers-part-icon">
                                        <i class="fa-solid fa-car"></i>
                                    </div>
                                </div>
                                <div class="col-10">
                                    <div class="offers-part-content">
                                        <div class="offers-part-content-header">Featured Luxury Cars</div>
                                        <div class="offers-part-content-text">Lorem ipsum dolor sit amet, onsectetuer adipiscing elitcommodo ligula eget dolor.</div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="offers-part">
                            <div class="row">
                                <div class="col-2">
                                    <div class="offers-part-icon">
                                        <i class="fa-solid fa-car"></i>
                                    </div>
                                </div>
                                <div class="col-10">
                                    <div class="offers-part-content">
                                        <div class="offers-part-content-header">Featured Luxury Cars</div>
                                        <div class="offers-part-content-text">Lorem ipsum dolor sit amet, onsectetuer adipiscing elitcommodo ligula eget dolor.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            </div>

        </section>
        <section id="Vehicle">
            <div class="container">
                <div class="section-header text-center">VEHICLE MODELS <span>FOR RENT</span></div>
                <div class="row mt-3">
                    <div class="car-btn-part d-flex flex-column justify-content-between p-0">
                        <div class="car-btn active"><b>BMW</b> 3-SERIES</div>
                        <div class="car-btn"><b>BMW</b> 4-SERIES</div>
                        <div class="car-btn"><b>BMW</b> 5-SERIES</div>
                        <div class="car-btn"><b>BMW</b> M-SERIES</div>
                        <div class="car-btn"><b>BMW</b> X-SERIES</div>
                        <div class="car-btn"><b>BMW</b> X-SERIES</div>
                        <div class="car-btn"><b>BMW</b> X-SERIES</div>
                    </div>
                    <div class="car-about-part">
                        <div class="row h-100">
                            <div class="col-7 p-0">
                                <img src="~/assets/images/mbw s.jpg" alt="">
                            </div>
                            <div class="col-5 p-0">
                                <div class="car-about">
                                    <div class="car-price">
                                        37$ <small>for a rent</small>
                                    </div>
                                    <div class="car-about-part"><b>Model</b> <span>S series</span></div>
                                    <div class="car-about-part"><b>Model</b> <span>S series</span></div>
                                    <div class="car-about-part"><b>Model</b> <span>S series</span></div>
                                    <div class="car-about-part"><b>Model</b> <span>S series</span></div>
                                    <div class="car-about-part"><b>Model</b> <span>S series</span></div>
                                    <div class="car-about-part"><b>Model</b> <span>S series</span></div>
                                    <div class="car-about-part"><b>Model</b> <span>S series</span></div>
                                    <button class="btn btn-primary ms-auto me-2 mt-2">Reserve Now</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
        <section id="counter">
            <div class="container">
                <div class="row">
                    <div class="col-3 text-center">
                        <div class="counter-icon"><i class="fa-solid fa-users"></i></div>
                        <div class="counter-count">399</div>
                        <div class="counter-text">Happy Client</div>
                    </div>
                    <div class="col-3 text-center">
                        <div class="counter-icon"><i class="fa-solid fa-users"></i></div>
                        <div class="counter-count">399</div>
                        <div class="counter-text">Happy Client</div>
                    </div>
                    <div class="col-3 text-center">
                        <div class="counter-icon"><i class="fa-solid fa-users"></i></div>
                        <div class="counter-count">399</div>
                        <div class="counter-text">Happy Client</div>
                    </div>
                    <div class="col-3 text-center">
                        <div class="counter-icon"><i class="fa-solid fa-users"></i></div>
                        <div class="counter-count">399</div>
                        <div class="counter-text">Happy Client</div>
                    </div>
                </div>
            </div>
        </section>
        <section id="Footer-form">
            <div class="row">
                <div class="col-6">
                    <div class="mapouter">
                        <div class="gmap_canvas"><iframe width="944" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=azerbaycan%20texniki%20uni&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                            <a href="https://123movies-to.org"></a><br>
                            <style>
                                .mapouter {
                                    position: relative;
                                    text-align: right;
                                    height: 500px;
                                    width: 944px;
                                }
                            </style>
                            <a href="https://www.embedgooglemap.net"></a>
                            <style>
                                .gmap_canvas {
                                    overflow: hidden;
                                    background: none!important;
                                    height: 500px;
                                    width: 944px;
                                }
                            </style>
                        </div>
                    </div>
                </div>
                <div class="col-6 p-0">
                    <div class="footer-form">
                        <form action="">
                            <form>
                                <div class="form-group mt-2">
                                    <input type="text" class="form-control">
                                </div>
                                <div class="form-group mt-2">
                                    <input type="text" class="form-control">
                                </div>
                                <div class="form-group mt-2">
                                    <input type="text" class="form-control">
                                </div>
                                <div class="form-group mt-2">
                                    <textarea class="form-control"></textarea>
                                </div>
                                <button class="btn btn-primary mt-2">Send</button>
                            </form>
                        </form>
                    </div>

                </div>
            </div>
        </section>
    </main>